{% include "sidebar.html.twig" %}
{% form_theme form "bootstrap_5_layout.html.twig" %}

{% block body %}
	<div class="container">
		<div class="subcontainer">
			<div class="subcontainer2 cart">
				<div class="row">
					<h1>Modifier</h1>
					<div class="tsipika2"></div>

					<div class="col-md-6 offset-md-3">
						{{ form_start(form) }}
						<div class='form-group'>
							<label for="users_lastname">Nom</label>
							{{form_widget(form.lastname,{'attr':{'class':'form-control'}})}}
						</div>
						<div class='form-group'>
							<label for="users_firstname">Prénom</label>
							{{form_widget(form.firstname,{'attr':{'class':'form-control'}})}}
						</div>
						<div class='form-group'>
							<label for="users_age">Age</label>
							{{form_widget(form.age,{'attr':{'class':'form-control'}})}}
						</div>
						<div class="chB">
							<label for="users_gender">Genre</label>
							{{ form_widget(form.gender) }}
						</div>
						<div class="form-file">
							<label for="users_imageFile">
								<i class="fas fa-camera"></i>
							</label>
							{{ form_widget(form.imageFile,{'attr':{'class':'form-control', 'multiple accept':'image/png, image/jpeg'}}) }}
							<div class="form-file-path"></div>
						</div>
						<div class="ch" style="display: none">
							{{ form_widget(form.qr, {'attr':{'value':'0'}}
							) }}
						</div>
						<div class="ch" style="display: none">
							{{ form_widget(form.password) }}
						</div>
						<div class="ch" style="display: none">{{ form_widget(form.matricule) }}</div>
						<div class="ch" style="display: none">
							{{ form_widget(form.createdAt) }}</div>
						<div class='chB'>
							<button class="btn-Edit">Valider</button>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
